<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>TOAST</title>
  </head>
  <body>
    <div id="app">
      <div id="modalBackground" v-bind:hidden="modalOpened != true"></div>
    <header>
      <h1>TOAST</h2>
      <nav>
        <ul>
          <li><a v-on:click="currentList = 'primary'" v-bind:class="{isSelected:currentList=='primary'}">Primary</a></li>
          <li><a v-on:click="currentList = 'secondary'" v-bind:class="{isSelected:currentList=='secondary'}">Secondary</a></li>
        </ul>
      </nav>
    </header>
    <div id="pageBackground">
    <main v-bind:hidden="currentList != 'primary'">
      <p class="noTaskText" v-bind:hidden="noTasks == true">You do not have any tasks! Click the button to add a task!</p>
      <ul>
      <li v-for="task in tasks" id="taskOne" class="task" v-bind:class="'toasted' + toastLevel(task)">
        <h3>{{task.name}}</h3>
        <ul v-bind:hidden="subTask != ''">
        <li v-for="subTask in task.subTasks">
            <input type="checkbox" v-model="subTask.checked">
            <label>{{subTask.name}}</label>
        </li>
      </ul>
      </li>
    </ul>
    <div class="modal" v-bind:hidden="modalOpened != true">
      <div class="modalContent">
        <p>Task name</p>
        <input class="input" v-model="taskName">
        <p>Sub task name</p>
        <input class="input" v-model="subTask">
        <button v-on:click="addSubTask(taskName,subTask)" class="button">Add SubTask</button>
        <button v-on:click="addTask(taskName,subTask)" class="button">Add Task</button>
        </div>
      </div>
      <div class="openModalButton" v-on:click="openModal">+</div>
    </main>
    <main v-bind:hidden="currentList != 'secondary'">
      <p class="noTaskText" v-bind:hidden="noTasksSecond == true">You do not have any tasks! Click the button to add a task!</p>
      <ul>
      <li v-for="secondTask in secondTasks" id="taskOne" class="task">
        <h3>{{secondTask.secondName}}</h3>
        <ul>
        <li v-for="secondSubTask in secondTask.secondSubTasks">
            <input type="checkbox" v-model="secondSubTask.checked">
            <label>{{secondSubTask.secondName}}</label>
        </li>
      </ul>
      </li>
      </ul>
      <div class="modal" v-bind:hidden="modalOpened != true">
      <div class="modalContent">
      <p>Task name</p>
      <input class="input" v-model="secondTaskName">
      <p>Sub task name</p>
      <input class="input" v-model="secondSubTask">
      <button v-on:click="addSecondTask(secondTaskName,secondSubTask)" class="button">Add Task</button>
      </div>
    </div>
      <div class="openModalButton" v-on:click="openModal">+</div>
    </main>
  </div>
    </div>
    <script src="dist/main.js" type="text/javascript"></script>
  </body>
</html>
