<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>TOAST</title>
  </head>
  <body>
    <div id="app">
    <header>
      <h1>TOAST</h2>
      <h2>Tasks</h2>
      <nav>
        <ul>
          <li><a v-on:click="currentList = 'primary'" v-bind:class="{isSelected:currentList=='primary'}">Primary</a></li>
          <li><a v-on:click="currentList = 'secondary'" v-bind:class="{isSelected:currentList=='secondary'}">Secondary</a></li>
        </ul>
      </nav>
    </header>
    <main v-bind:hidden="currentList != 'primary'">
      <ul>
      <li v-for="task in tasks" id="taskOne" class="task">
        <h3>{{task.name}}</h3>
        <ul>
        <li v-for="subTask in task.subTasks">
            <input type="checkbox" v-model="subTask.checked">
            <label>{{subTask.name}}</label>
        </li>
      </ul>
      </li>
    </ul>
    <div>
      <p>Task name</p>
      <input id="input" v-model="taskName">
      <p>Sub task name</p>
      <input id="input" v-model="subTask">
      <button v-on:click="addTask(taskName,subTask)" id="button">Add Task</button>
    </div>
      </main>
    <main v-bind:hidden="currentList != 'secondary'">
      <ul>
      <li v-for="secondTask in secondTasks" id="taskOne" class="task">
        <h3>{{secondTask.secondName}}</h3>
        <ul>
        <li v-for="secondSubTask in secondTask.secondSubTasks">
            <input type="checkbox" v-model="secondSubTask.checked">
            <label>{{secondSubTask.secondName}}</label>
        </li>
      </ul>
      </li>
    </ul>
    <div>
    <p>Task name</p>
    <input id="input" v-model="secondTaskName">
    <p>Sub task name</p>
    <input id="input" v-model="secondSubTask">
    <button v-on:click="addSecondTask(secondTaskName,secondSubTask)" id="button">Add Task</button>
  </div>
    </main>
    </div>
    <script src="dist/main.js" type="text/javascript"></script>
  </body>
</html>
